nav {
	margin-top:10px;
}

nav img {
	float:left;
	height:20px;
}

div.controls input {
	margin:0px 0px 0px 12px;
}

.contact img {
	float:right;
	margin:5px 5px 5px 0px;
	width:100px;
	height:100px;
}

.contact {
	overflow:auto;
	width:315px;
	float:left;
	margin:10px 10px 10px 0px;
	border:1px solid #999;
	border-radius:6px;
	padding-left:5px;
}

.contact p {
	margin:0px 0px 5px 0px;
}

.remove {
	float:right;
	margin:0px 10px 10px 0px;
}

.email {
	margin:0px 0px 0px 0px;
	width:200px;	
}
